html { background-color : #FFF }
tr { frame : 2px solid black;}
th { background-color : #DDD }
.missing { background-color : #E11 }
.toomuch { background-color : #E1E }
.optional { background-color : #070 }
.quote {
    background-color : #FFD;
    text-align : left;
    margin : 0em 2em;
}
.alternative {
    background-color : #FCC;
    text-align : left;
    margin : 0em 2em;
}
pre {
    background-color : #EEE;
    text-style : sans-serif;
    margin : 0em 2em;
}

code { background-color : #EEE; text-style : sans-serif }
