(no author) <(no author)@no.where> <author)@e9ff9ff7-f406-0410-8292-a62e568907bd>
Bobby <b0661n0e17e@googlemail.com>
Emmanuel Jeanvoine <emmanuel.jeanvoine@inria.fr>
Jens Gustedt <Jens.Gustedt@inria.fr> <gustedt@e9ff9ff7-f406-0410-8292-a62e568907bd>
Jens Gustedt <Jens.Gustedt@inria.fr> <gustedt@perso.metz.supelec.fr>
Jens Gustedt <Jens.Gustedt@inria.fr>
Jens Gustedt <Jens.Gustedt@inria.fr> <jens.gustedt@loria.fr>
Jens Gustedt <Jens.Gustedt@inria.fr> <Jens.Gustedt@loria.fr>
Matias E. Vara <matiasvara@hotmail.com> <mvaralar@inria.org>
(no author) <(no author)@no.where>
Piere-Nicolas Clauss <pini@tuxfamily.org>
Simon Peeters <peeters.simon@gmail.com>
William Morris <wrm@hushmail.com>
