AddDescription "C99 conformance tests" c99-conformance*
AddDescription "C11 defect reports and feature requests" defects-and-improvements*
AddDescription "P99 code documentation" p99-html*
AddDescription "current version" p99.zip
AddDescription "current version" p99.tgz
AddDescription "reference manual" p99-refman.pdf
AddDescription "previous versions" versions
IndexOptions   +FancyIndexing +FoldersFirst +SuppressHTMLPreamble
IndexIgnore    *~ *bak *new *orig *.php log */HEADER* */README* */RCS*
